<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Message Tracker</title>
</head>
<body>

<form action="/logout" method="post">
    <button type="submit">Logout</button>

</form>
<br>

<form action="/create-message" method="post">
    <input type="text" name="message" size="60" placeholder="Write A Message"/>
    <button type="submit">Submit</button>
</form>
<br>

<form action="/delete-message" method="post">
    <input type="number" name="id" placeholder="Message #"/>
    <button type="submit">Delete</button>

</form>
<br>
<form action="/edit-message" method="post">
    <input type="number" name="messageEdit" placeholder="Message #"/>
    <input type="text" name="messageField" size="60" placeholder="Edit Message"/>
    <button type="submit">Edit Message</button>

</form>

<ol>
    {{#messages}}
    <li><b>{{message}}</b> </li>
    {{/messages}}

</ol>
</body>
</html>